In [19]:
load("mvol_map_problem.sage")

In [20]:
# %pip install pandas
# %pip install "jinja2>=3.1.2"

In [21]:
import pandas as pd

In [22]:
problem = MVolMapProblem(3)

In [23]:
reprs = [inequs[0] for inequs in problem.image_ineq_orbits]
for r in reprs:
    print(r)

(-1, -1, 0, 0, 0, -1, 0, 1, 0, 1, 0, 0, 1, 1, 1)
(-3, -1, -1, 1, -1, -1, -1, 3, -1, 3, 1, -1, 3, 1, 3)
(-1, -1, -1, 1, -1, -1, -1, 3, 1, 1, 1, -1, 1, 1, 1)
(-1, -1, -1, -1, 1, -1, 1, 1, -1, 1, 1, 1, 1, 1, 1)
(-1, 0, 0, 0, -1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1)
(-1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1)
(-1, -1, 0, 1, 0, -1, 0, 2, 0, 1, 0, -1, 1, 0, 1)
(-1, -1, -1, 1, -1, 0, -1, 2, 0, 2, 0, -1, 2, 0, 2)

<string>:216: DeprecationWarning: parameter 'sort' will be set to False by default in the future
See https://github.com/sagemath/sage/issues/35889 for details.

In [24]:
def parti2str(parti):
    return '$|$'.join([''.join([str(x) for x in part]) for part in parti])

def ineqs_2_dataframe(ineqs):
    # you can use to convert the data frame to LaTeX: df.style.to_latex()
    M = matrix(QQ,ineqs)
    header = [''] + list(range(len(ineqs)))
    data = [ [parti2str(parti) for parti in problem.coord_partitions]  ] + [ list(r) for r in M.rows()]
    return pd.DataFrame(dict(zip(header,data)))

In [25]:
df = ineqs_2_dataframe(reprs)
df

               0   1   2   3   4   5   6   7
0   12|34|56  -1  -3  -1  -1  -1  -1  -1  -1
1   16|23|45  -1  -1  -1  -1   0   0  -1  -1
2   15|23|46   0  -1  -1  -1   0   0   0  -1
3   14|23|56   0   1   1  -1   0   0   1   1
4   13|24|56   0  -1  -1   1  -1   0   0  -1
5   13|25|46  -1  -1  -1  -1   0   0  -1   0
6   14|25|36   0  -1  -1   1   0   0   0  -1
7   15|24|36   1   3   3   1   1   0   2   2
8   16|24|35   0  -1   1  -1   0   0   0   0
9   16|25|34   1   3   1   1   1   0   1   2
10  15|26|34   0   1   1   1   0   0   0   0
11  14|26|35   0  -1  -1   1   0   0  -1  -1
12  13|26|45   1   3   1   1   1   0   1   2
13  12|36|45   1   1   1   1   0   1   0   0
14  12|35|46   1   3   1   1   1   1   1   2

In [26]:
df.style.to_latex()

'\\begin{tabular}{llllllllll}\n &  & 0 & 1 & 2 & 3 & 4 & 5 & 6 & 7 \\\\\n0 & 12|34|56 & -1 & -3 & -1 & -1 & -1 & -1 & -1 & -1 \\\\\n1 & 16|23|45 & -1 & -1 & -1 & -1 & 0 & 0 & -1 & -1 \\\\\n2 & 15|23|46 & 0 & -1 & -1 & -1 & 0 & 0 & 0 & -1 \\\\\n3 & 14|23|56 & 0 & 1 & 1 & -1 & 0 & 0 & 1 & 1 \\\\\n4 & 13|24|56 & 0 & -1 & -1 & 1 & -1 & 0 & 0 & -1 \\\\\n5 & 13|25|46 & -1 & -1 & -1 & -1 & 0 & 0 & -1 & 0 \\\\\n6 & 14|25|36 & 0 & -1 & -1 & 1 & 0 & 0 & 0 & -1 \\\\\n7 & 15|24|36 & 1 & 3 & 3 & 1 & 1 & 0 & 2 & 2 \\\\\n8 & 16|24|35 & 0 & -1 & 1 & -1 & 0 & 0 & 0 & 0 \\\\\n9 & 16|25|34 & 1 & 3 & 1 & 1 & 1 & 0 & 1 & 2 \\\\\n10 & 15|26|34 & 0 & 1 & 1 & 1 & 0 & 0 & 0 & 0 \\\\\n11 & 14|26|35 & 0 & -1 & -1 & 1 & 0 & 0 & -1 & -1 \\\\\n12 & 13|26|45 & 1 & 3 & 1 & 1 & 1 & 0 & 1 & 2 \\\\\n13 & 12|36|45 & 1 & 1 & 1 & 1 & 0 & 1 & 0 & 0 \\\\\n14 & 12|35|46 & 1 & 3 & 1 & 1 & 1 & 1 & 1 & 2 \\\\\n\\end{tabular}\n'